In [1]:
import numpy as np
import pandas as pd

In [2]:
col_list = ['User', 'Latitude','Longitude']

In [3]:
df = pd.read_csv('all_trajectory.csv',usecols=col_list)

In [4]:
df

          User   Latitude   Longitude
0            0  39.984702  116.318417
1            0  39.984683  116.318450
2            0  39.984686  116.318417
3            0  39.984688  116.318385
4            0  39.984655  116.318263
...        ...        ...         ...
25050843   181  40.914867  111.710500
25050844   181  40.914267  111.710333
25050845   181  40.912467  111.710667
25050846   181  40.911517  111.711317
25050847   181  40.910933  111.711617

[25050848 rows x 3 columns]

Find the most favorite location of all users

Assum:
Smallest division is 1km2
0.01 deg Latitude = 1km
0.01 deg Longitude = 1km
https://www.nhc.noaa.gov/gccalc.shtml

In [5]:
AlluserLocation = df.round(2)
AlluserLocation

          User  Latitude  Longitude
0            0     39.98     116.32
1            0     39.98     116.32
2            0     39.98     116.32
3            0     39.98     116.32
4            0     39.98     116.32
...        ...       ...        ...
25050843   181     40.91     111.71
25050844   181     40.91     111.71
25050845   181     40.91     111.71
25050846   181     40.91     111.71
25050847   181     40.91     111.71

[25050848 rows x 3 columns]

for each user, if they come to 1 place many times, we only count 1 time.

In [6]:
AlluserLocation=AlluserLocation.drop_duplicates()
AlluserLocation

          User  Latitude  Longitude
0            0     39.98     116.32
20           0     39.98     116.31
83           0     39.98     116.30
148          0     40.00     116.29
210          0     39.99     116.30
...        ...       ...        ...
25050716   181     28.13     113.02
25050718   181     28.13     113.03
25050728   181     28.13     113.01
25050826   181     40.92     111.71
25050829   181     40.91     111.71

[192743 rows x 3 columns]

Which location most user appeared

In [13]:
MostappearlocationCount = AlluserLocation.groupby(['Latitude','Longitude'])['User'].nunique().sort_values(axis=0)
MostappearlocationCount

Latitude  Longitude
1.04      103.52         1
39.29     117.91         1
          117.92         1
          117.93         1
          117.99         1
                      ...
39.97     116.34       125
39.98     116.32       127
39.99     116.33       128
39.97     116.33       148
39.98     116.33       171
Name: User, Length: 85023, dtype: int64

In [21]:
MostLocation = MostappearlocationCount[MostappearlocationCount==MostappearlocationCount.max(axis=0)].index[0]
MostLocation

(39.98, 116.33)

In [16]:
Mostappearlocation = AlluserLocation.groupby(['Latitude','Longitude'])['User'].unique()
Mostappearlocation

Latitude  Longitude
1.04       103.52      [144]
           103.53      [144]
           103.78      [144]
1.05       103.49      [144]
           103.50      [144]
                       ...
64.39     -171.30      [142]
64.40     -170.99      [142]
64.65     -179.46      [142]
64.75      175.62      [142]
400.17     116.22       [20]
Name: User, Length: 85023, dtype: object

In [23]:
UserinMostappearlocation = Mostappearlocation[MostLocation]
UserinMostappearlocation

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,
        80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,
        93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
       106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 119,
       121, 122, 124, 125, 126, 127, 128, 129, 130, 131, 133, 134, 135,
       136, 138, 139, 140, 141, 142, 144, 146, 147, 148, 149, 150, 151,
       152, 153, 154, 155, 157, 158, 159, 161, 162, 163, 164, 165, 166,
       167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,
       180, 181], dtype=int64)

In [37]:
MostLocation

        0
0   39.98
1  116.33

In [40]:
MostLocationPd = pd.DataFrame(MostLocation)
MostLocationPd.to_csv('MostLocation.csv')

In [41]:
UserinMostappearlocationPd = pd.DataFrame(UserinMostappearlocation)
UserinMostappearlocationPd.to_csv('UserinMostappearlocation.csv')